.code_exp{
    width: 700px;
    height: 625px;
    background: #ff9500;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 10;
    bottom: 10;
    color: black;
    overflow-y:auto;
    overflow-x:auto;
    padding: 15px;
    font-size: 14px;
}
.code_exp::-webkit-scrollbar{
width: 8px;
height: 100%;
border-radius: 15px;
background: #945600; 
}
