.code_exp{
    width: 750px;
    height: 600px;
    background: #ff9500;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 10;
    bottom: 10;
}