.code_sec{
    width: 700px;
    height: 625px;
    background: #ff9500; 
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 10;
    left: 400;
    color: black;
    font-size: 16px;
    overflow-y: auto;
    overflow-x:auto;
    padding: 15px; 
  
}
.code_sec::-webkit-scrollbar{
width: 8px;
height: 100%;
border-radius: 15px;
background: #945600; 
}
