.selected_element_prev{
   width: 700px;
   height: 200px;
   background: #c27406;
   border-radius: 15px;
   display: flex;
   font-size: 16px;
   font-family: monospace;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 10;
   left: 400;
   color: black;
   padding: 5px;
}
.selected_element_prev2{
width: 690px;
height: 190px;
background: #ff9500;
border-radius: 15px;
display: flex;
font-family: monospace;
border: 2px solid black;
display: flex;
align-items: center;
justify-content: center;
}
